.club-detail-container {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 100%;        /* full height of screen */
  padding: 20px;
  background-color: var(--yellow);
}

.pink-container {
  width: 360px;
  height: 543px;
  background-color: #f5428d;
  border-radius: 35px;
  padding: 16px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border: black;
  border-style: solid;
  margin-bottom: 100px;
}

.back-icon {
  width: 30px;
  cursor: pointer;
  position: absolute; /* <-- ADD THIS */
  top: 15px;           /* <-- Push a little from top */
  left: 15px;
}

.club-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}

.club-title {
  font-size: 28px;
  font-weight: bold;
}

.club-icon1 {
  width: 40px;
  height: 40px;
}

.separator-line {
  height: 2px;
  background-color: white;
  margin: 12px 0;
}

.club-detail-description {
  font-size: 18px;
  text-align: center;
}

.section-title {
  margin-top: 16px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.events {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 16px 0;
}

.event-card {
  background-color: #f8b7c1;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  padding-top: 12px;
}

.event-date {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 8px;
}

.event-name {
  margin-top: 20px;
  background-color: #ec6788;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 14px;
}

.members {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.member {
  background-color: #f8b7c1;
  border-radius: 20px;
  padding: 8px 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.member-icon {
  margin-right: 8px;
}

.message-icon {
  font-size: 24px; /* or any size you want */
  cursor: pointer;
}