.HomePage{
  background-color: var(--yellow);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 20px;
  gap: 30px;
  position: relative;
  overflow-y: hidden; 
  overflow-x: hidden; 
  padding-bottom: 90px;
  box-sizing: border-box;
}

.SearchBar{
  padding: 20px 0px;
}

.SearchInput{
  background-color: #f4b340;
  color: #333;
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  font-size: 16px;
}

/* .card {
  width: 360px;
  height: 514px;
  background-color: #f5428d;
  border-radius: 35px;
  padding: 16px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border: black;
  border-style: solid;
  margin-bottom: 100px;
}
  
.card-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: white;
  border-bottom-style: solid;
}
  
.card-icon {
  font-size: 18px;
  margin-right: 900px;
}

.PMRIG_icon{
  margin-bottom: 5%;
  margin-left: 0%;
  height: 30px;
  width: 30px;
  
}
.text_font{
  margin-right: 0%;
  display: inline-block;
  font-size: 34px;

}

.card-description{
  margin-top: 5%;
  font-size: 20px;
  border-bottom: white;
  border-bottom-style: solid;
}

.section-title{
  margin-top: 2%;
  font-size: 25px;
  margin-bottom: 4%;
}

.PMRIG_event1{
  margin-bottom: 5%;
  margin-left: 0%;
  height: 90px;
  width: 104px;
  margin-right: 8%;
}

.PMRIG_event2{
  margin-bottom: 5%;
  margin-left: 0%;
  height: 90px;
  width: 104px;
}

.events{
  border-bottom: white;
  border-bottom-style: solid ;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 12px 0;
  border-bottom: white;
  border-bottom-style: solid;
}

.tag{
  background-color: #EEDDCC;
  color: black;
  padding: 10px 10px;
  border-radius: 20px;
  font-weight: bolder;
  white-space: nowrap;
  margin-bottom: 5%;
  font-size: 15px;
} */

.match{
  font-size: 50px;
  font-weight: bold;
  color: #FFCF78;
}

.btn.red {
  background-color: #c0392b;
  color: white;
}

.btn.green {
  background-color: #27ae60;
  color: white;
}

.card-actions {
  position: absolute;
  bottom: -18px; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1px;
}

.btn {
  width: 58px;
  height: 53px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav {
  position: fixed;
  bottom: 0px;
  width: 20px;
  height: 70px;
  background-color: #2a8f8f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.nav-item img {
  width: 50px;
  height: 50px;
}

.nav-item.active span {
  color: #ffe066;
}


.card-navigation-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  color: white;
  clip-path: polygon(0 0, 100% 50%, 0 100%); 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.left-arrow {
  left: -20px; 
  top: 42%;
  transform: translateY(-50%) rotate(180deg); 
}

.right-arrow {
  right: -20px;
  top: 42%;
}
