.Interests {
    background-color: var(--yellow);
    height: 100%;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .profile_button {
    height: 50px;
    width: 120px;
    background-color: #D81159;
    border-radius: 25px;
    border-color: #6C0027;
    border-style: solid;
    border-width: 5px;
    justify-content: center;
    margin-left: 250px;
  }
  
  .interest_title {
    margin-top: 0%;
    font-weight: bolder;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 0 #553f15;
    margin-bottom: 15px;
  }
  
  /* --------------------------------------------------------------------------- */
  .interests-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
     
  }
  
  .interest-card {
    background-color: #E14A79; /* Example pink */
    width: 90px;
    height: 90px;
    border-radius: 12px;
    display: flex;
    flex-direction: column; /* Align text vertically in the card */
    align-items: center; /* Center text horizontally in the card */
    justify-content: center; /* Center text vertically in the card */
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
    cursor: pointer;
     /* Add some margin around the cards */
  }
  
  .interest-card:hover {
    transform: scale(1.05);
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  .interest-label {
    color: white;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 14px;
  }