.MainPage {
  height: 100%;
  background-image: url("../assets/city_image_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  padding-top: 20px;
  
}

.main_components {
  margin-top: 100px;
}

.intro_text{
  margin-left: 50px;
  width: 350px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: #ffbc42;
  text-shadow: 3px 3px 0 #000;
} 