/* .MainPage {
  /* background-color: green; */
  
/*} */
  
.intro_button {
  /* background-color: green; */
  height: 101px;
  width: 260px;
  background-color: #D81159;
  border-radius: 10px;
  border-color: #6C0027;
  border-width: 10px;
  margin-left: 60px;
  margin-top: 10px;
}

.intro_text{
  margin-left: 10px;
  width: 350px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  /* border-color: black;
  border-width: 20px; */
}
