.Profile {
  background-color: var(--yellow);
  height: 100%;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.intro_button {
  height: 101px;
  width: 260px;
  background-color: #D81159;
  border-radius: 25px;
  border-color: #6C0027;
  border-style: solid;
  border-width: 10px;
  justify-content: center;
  margin-top: 40px;
}

.button_text{
  font-size: 28px;
  font-weight: bolder;
  color: white;
}

.dragon_img{
  margin-bottom: 0%;
  height: 150px;
  width: 150px;
}

#profile_image{
  margin-left: -20px;
  height: 200px;
  width: 200px;
}
.title {
  font-weight: bolder;
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px 0 #553f15;
  margin-top: -10px;
  margin-bottom: 20px;
}

 .label {
  margin-right: 350px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  color:#553f15;
  
}

#year{
  margin-right: 350px;
} 

#major{
  margin-left: 10px;
}

#language{
  margin-left: 10px;
}

.individual_label{
  display: flex;
  flex-direction: column;
}

input{
  border: none;
  padding: 10px;
  width: 350px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #af7f27;
  opacity: 50%;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
} 

#dropdown{
  margin-right: 40px;
  padding: 10px;
  width: 350px;
  border-radius: 10px;
  background-color: #af7f27;
  opacity: 50%;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.inputs {
  margin-left: 40px;
}

#picture {
  margin-right: 20px;
  font-weight: bold; 
  font-family: "Lucida Console", "Courier New", monospace;
  color:#553f15;
  font-size: 15px;
  margin-top: 0%;
}


input::placeholder{
  color:#000000
}

select option :hover{
  background-color: #2c210c;
  color: white;  
}


