.Profile {
  background-color: var(--yellow);
  height: 100%;
  padding-top: 20px;
}

.intro_button {
  height: 101px;
  width: 260px;
  background-color: #D81159;
  border-radius: 25px;
  border-color: #6C0027;
  border-style: solid;
  border-width: 10px;
  justify-content: center;
  margin-top: 40px;
}

.button_text{
  font-size: 28px;
  font-weight: bolder;
  color: white;
}

.img{
  margin-bottom: 0%;
}
.title {
  margin-top: 0%;
}

  