.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("./assets/city_image_bg.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
  width: 500px;
  margin-left: 400px;
  border-radius: 20px;
  border-color: black;
  border-width: 10px;
}
