.App {
  height: 650px; /* or 100vh if you want full screen */
  width: 500px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* <--- enables vertical scrolling */

  background-image: url("./assets/city_image_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  border-radius: 20px;
  border: 10px solid black;
}