:root {
  /* To use: background-color: var(--aqua) */
  --aqua: #218380;
  --aqua-dark: #1c4544;
  --pink: #d81159;
  --pink-dark: #6c0027;
  --pink-light: #ee286f;
  --yellow: #ffbc42;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
